/* CONTAINER 1 */
.banner-index1 {
  position: relative;
  width: 100%;
  height: 630px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; }
  @media (max-width: 1024px) {
    .banner-index1 {
      height: 460px; } }
  @media (max-width: 768px) {
    .banner-index1 {
      height: 400px; } }
  @media (max-width: 576px) {
    .banner-index1 {
      height: 300px; } }
  .banner-index1__overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background: #00000056; }
    .banner-index1__overlay__video {
      position: relative;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
      pointer-events: none; }
  .banner-index1__absolute {
    width: 100%;
    height: 100%;
    top: 40%;
    right: 0;
    position: absolute;
    text-align: center;
    display: flex;
    justify-content: center; }

/* CONTAINER 2 */
.text-index {
  padding: 60px 120px 60px 120px; }
  @media (max-width: 1024px) {
    .text-index {
      padding: 40px 80px 40px 80px; } }
  @media (max-width: 768px) {
    .text-index {
      padding: 30px 60px 30px 60px; } }
  @media (max-width: 576px) {
    .text-index {
      padding: 15px 30px 15px 30px; } }

/* CONTAINER 3 */
.banner-index2 {
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  background: center fixed url("../media/images/banner_index.png"); }
  @media (max-width: 1024px) {
    .banner-index2 {
      height: 400px; } }
  @media (max-width: 768px) {
    .banner-index2 {
      height: 300px; } }
  @media (max-width: 576px) {
    .banner-index2 {
      height: 200px; } }
  .banner-index2__img {
    width: 90%;
    max-width: 1000px;
    display: block;
    margin: auto; }
  .banner-index2__title {
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    text-shadow: 0px 1px 10px rgba(0, 0, 0, 0.82); }
    @media (max-width: 1024px) {
      .banner-index2__title {
        font-size: 42px; } }
    @media (max-width: 768px) {
      .banner-index2__title {
        font-size: 32px; } }
    @media (max-width: 576px) {
      .banner-index2__title {
        font-size: 28px; } }

/* BANNER */
.banner-portfolio {
  width: 100%;
  height: 900px;
  display: flex; }
  @media (max-width: 1024px) {
    .banner-portfolio {
      height: 450px; } }
  @media (max-width: 768px) {
    .banner-portfolio {
      height: 350px; } }
  @media (max-width: 576px) {
    .banner-portfolio {
      height: 350px; } }
  .banner-portfolio img {
    width: 100%;
    height: auto;
    margin: auto;
    background: center;
    padding-top: 60px; }
    @media (max-width: 576px) {
      .banner-portfolio img {
        padding-top: 0; } }

/* GALLERY */
.pics-portfolio {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden; }
  .pics-portfolio__effect {
    width: 15rem;
    height: 15rem;
    opacity: .6;
    margin: 15px;
    transition: all 1s ease; }
    .pics-portfolio__effect:hover {
      opacity: 2;
      -webkit-transform: scale(1.2);
      transform: scale(1.2); }

/* BANNER */
.banner-contact {
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  text-align: center;
  background: center fixed url("../media/images/banner_contact.png"); }
  @media (max-width: 576px) {
    .banner-contact {
      height: 150px; }
      .banner-contact h1 {
        font-size: 24px; } }
  .banner-contact__info {
    width: 90%;
    max-width: 1000px;
    display: block;
    margin: auto; }

.menu {
  background: none; }
  .menu__logo {
    width: 7rem;
    padding: 0rem; }
    .menu__logo:hover {
      cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='25' height='25'><rect rx='20' width='100%' height='100%' fill='rgb(252, 244, 229)'/></svg>") 4 0, auto; }
  .menu__links {
    text-decoration: none;
    background-image: linear-gradient(#de3543, #de3543);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 1px;
    transition: background-size .2s; }
    .menu__links:hover {
      background-size: 100% 1px;
      cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='25' height='25'><rect rx='20' width='100%' height='100%' fill='rgb(252, 244, 229)'/></svg>") 4 0, auto; }

.box {
  margin-top: 5%;
  background-color: none;
  opacity: .7;
  padding: 15px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center; }
  @media (max-width: 768px) {
    .box {
      margin-top: 15%;
      padding: 5px; }
      .box p {
        font-size: 14px; } }
  @media (max-width: 576px) {
    .box {
      margin-top: 15%;
      padding: 5px; }
      .box p {
        font-size: 14px; } }
  .box__redes {
    position: absolute;
    text-align: center;
    min-width: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center; }
    @media (max-width: 576px) {
      .box__redes {
        min-width: 150px; } }
    .box__redes a {
      text-decoration: none;
      font-size: 24px;
      width: 40px;
      height: 40px;
      line-height: 40px;
      background: #5c5c5c;
      color: #eeeeee;
      border-radius: 50%;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
      transition: all .4s ease-in-out; }
      @media (max-width: 576px) {
        .box__redes a {
          width: 32px;
          height: 32px;
          font-size: 18px;
          line-height: 32px; } }
      .box__redes a:hover {
        transform: scale(1.2);
        background: #3566ab;
        color: #eeeeee;
        cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='25' height='25'><rect rx='20' width='100%' height='100%' fill='rgb(252, 245, 230)'/></svg>") 4 0, auto; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  font-size: 20px;
  font-weight: 100;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 1px;
  text-align: justify;
  background: #eed1d6;
  background-size: cover;
  background-attachment: fixed;
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20'><rect rx='20' width='100%' height='100%' fill='rgb(53, 102, 171)'/></svg>") 0 0, auto; }
  @media (max-width: 576px) {
    body {
      height: auto; } }

h1 {
  font-size: 70px;
  font-weight: 700;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  color: #fbf4e8;
  text-shadow: 0px 1px 10px rgba(0, 0, 0, 0.82); }
  @media (max-width: 1024px) {
    h1 {
      font-size: 50px; } }
  @media (max-width: 768px) {
    h1 {
      font-size: 40px; } }
  @media (max-width: 576px) {
    h1 {
      font-size: 40px; } }

h2 {
  text-align: center;
  text-decoration: none;
  letter-spacing: none;
  padding-bottom: 20px;
  font-weight: 400;
  font-family: 'Raleway', sans-serif;
  color: #3566ab; }
  @media (max-width: 1024px) {
    h2 {
      margin-top: 20px;
      font-size: 30px;
      text-align: center; } }
  @media (max-width: 768px) {
    h2 {
      margin-top: 20px;
      font-size: 28px;
      text-align: center; } }
  @media (max-width: 576px) {
    h2 {
      margin-top: 20px;
      font-size: 16px;
      text-align: center; } }

h3 {
  color: #232121;
  font-weight: 600;
  font-family: 'Raleway', sans-serif;
  padding: 0.5rem; }
  @media (max-width: 576px) {
    h3 {
      font-size: 16px; } }

h4 {
  color: #232121;
  font-family: 'Raleway', sans-serif; }

h5 {
  color: #232121;
  font-family: 'Raleway', sans-serif; }

p {
  padding: 0.6rem;
  color: #232121; }
  @media (max-width: 1024px) {
    p {
      font-size: 18px;
      text-align: justify; } }
  @media (max-width: 768px) {
    p {
      font-size: 16px;
      text-align: justify; } }
  @media (max-width: 576px) {
    p {
      font-size: 14px;
      text-align: justify; } }
