/* CONTAINER 1 */
.text-index {
  padding: 60px 120px 60px 120px; }
  @media (max-width: 1024px) {
    .text-index {
      padding: 40px 80px 40px 80px; } }
  @media (max-width: 768px) {
    .text-index {
      padding: 30px 60px 30px 60px; } }
  @media (max-width: 576px) {
    .text-index {
      padding: 15px 30px 15px 30px; } }

/* CONTAINER 2 */
.banner-index2 {
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  background: center fixed url("../media/banner_index.png"); }
  @media (max-width: 1024px) {
    .banner-index2 {
      height: 400px; } }
  @media (max-width: 768px) {
    .banner-index2 {
      height: 300px; } }
  @media (max-width: 576px) {
    .banner-index2 {
      height: 200px; } }
  .banner-index2__img {
    width: 90%;
    max-width: 1000px;
    display: block;
    margin: auto; }
  .banner-index2__title {
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    font-family: 'Bebas Neue', bold;
    text-shadow: 0px 1px 10px rgba(0, 0, 0, 0.82); }
    @media (max-width: 1024px) {
      .banner-index2__title {
        font-size: 42px; } }
    @media (max-width: 768px) {
      .banner-index2__title {
        font-size: 32px; } }
    @media (max-width: 576px) {
      .banner-index2__title {
        font-size: 28px; } }

/* GALLERY */
.pics-portfolio {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden; }
  .pics-portfolio__effect {
    width: 15rem;
    height: 15rem;
    opacity: .6;
    margin: 15px;
    transition: all 1s ease; }
    .pics-portfolio__effect:hover {
      opacity: 2;
      -webkit-transform: scale(1.2);
      transform: scale(1.2); }

.menu {
  background: none; }
  .menu__logo {
    width: 7rem;
    padding: 0rem;
    position: center; }
   
.box {
  margin-top: 5%;
  background-color: none;
  opacity: .7;
  padding: 15px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center; }
  @media (max-width: 768px) {
    .box {
      margin-top: 15%;
      padding: 5px; }
      .box p {
        font-size: 14px; } }
  @media (max-width: 576px) {
    .box {
      margin-top: 15%;
      padding: 5px; }
      .box p {
        font-size: 14px; } }
  .box__redes {
    position: absolute;
    text-align: center;
    min-width: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center; }
    @media (max-width: 576px) {
      .box__redes {
        min-width: 100px; } }
    .box__redes a {
      text-decoration: none;
      font-size: 24px;
      width: 40px;
      height: 40px;
      line-height: 40px;
      background: #5c5c5c;
      color: #eeeeee;
      border-radius: 50%;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
      transition: all .4s ease-in-out; }
      @media (max-width: 576px) {
        .box__redes a {
          width: 32px;
          height: 32px;
          font-size: 18px;
          line-height: 32px; } }
      .box__redes a:hover {
        transform: scale(1.2);
        background: #3566ab;
        color: #eeeeee;
        cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='25' height='25'><rect rx='20' width='100%' height='100%' fill='rgb(252, 245, 230)'/></svg>") 4 0, auto; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  font-size: 20px;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.3px;
  text-align: justify;
  background: #eed1d6;
  background-size: cover;
  background-attachment: fixed;
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20'><rect rx='20' width='100%' height='100%' fill='rgb(53, 102, 171)'/></svg>") 0 0, auto; }
  @media (max-width: 576px) {
    body {
      height: auto; } }

h1 {
  font-size: 90px;
  font-weight: 700;
  text-align: center;
  font-family: 'Bebas Neue', serif;
  color: #fbf4e8;
  text-shadow: 0px 1px 10px rgba(0, 0, 0, 0.82); }
  @media (max-width: 1024px) {
    h1 {
      font-size: 50px; } }
  @media (max-width: 768px) {
    h1 {
      font-size: 40px; } }
  @media (max-width: 576px) {
    h1 {
      font-size: 40px; } }

h2 {
  text-align: center;
  text-decoration: none;
  letter-spacing: none;
  padding-bottom: 20px;
  font-size: 50px;
  font-weight: 700;
  font-family: 'Bebas Neue', serif;
  color: #3566ab; }
  @media (max-width: 1024px) {
    h2 {
      margin-top: 20px;
      font-size: 30px;
      text-align: center; } }
  @media (max-width: 768px) {
    h2 {
      margin-top: 20px;
      font-size: 20px;
      text-align: center; } }
  @media (max-width: 576px) {
    h2 {
      margin-top: 20px;
      font-size: 20px;
      text-align: center; } }

h3 {
  color: #232121;
  font-weight: 700;
  font-family: 'Bebas Neue', serif;
  padding: 0.5rem; }
  @media (max-width: 576px) {
    h3 {
      font-size: 16px; } }

h4 {
  color: #232121;
  font-family: 'Bebas Neue', serif; }

h5 {
  color: #232121;
  font-family: 'Bebas Neue', serif; }

p {
  padding: 0.6rem;
  color: #232121; }
  @media (max-width: 1024px) {
    p {
      font-size: 18px;
      text-align: justify; } }
  @media (max-width: 768px) {
    p {
      font-size: 14px;
      text-align: justify; } }
  @media (max-width: 576px) {
    p {
      font-size: 10px;
      text-align: justify; } }

.link-andrevisuales {
  color: #8b3a62;
  text-decoration: none;
  font-weight: 500;
}

.link-andrevisuales:hover {
  color: #c35b8e;
}



