/* mejora del hero */
.text-box {
  backdrop-filter: blur(6px);
}

/* hover más premium */
.links-kisse__btn {
  border: 1px solid rgba(0,0,0,0.05);
}

/* más aire entre secciones */
.links-kisse__container {
  margin-top: 10px;
}
