$colorBG:#161616;
$colorText: #eeeeee;
$colorH1: #ffffff;
$colorH2: #de3543;
$colorH3: #de3543;
$colorH4: #eeeeee;
$colorH5: #585858;
$colorFounder: #de3543;
$colorFounderText: #161616;
$colorFounderBGBox: #ffffff;
$colorFounderIcon: #2d302f;
$colorFounderHoverIcon: #f1505e;
$colorFounderLine: #de3543;
$colorButtonBG: #de3543;
$colorButtonHover: #f1505e;
$colorFooterBGIcon: #5c5c5c;
$colorFooterTextIcon: #eeeeee;
$colorFooterHoverIcon: #f1505e;
$colorGradientMenu1: #de3543;
$colorGradientMenu2: #de3543;
$colorCardsBG: #161616;
$colorHoverBG: #de3543;